@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  min-width: 0;
}

input {
  color-scheme: dark;
}
//Customização da data
:root {
}
.rdp-day_selected {
  background-color: #bef264 !important;
  color: black !important;
}

.rdp-day_selected:hover {
  background-color: #a0ca57 !important;
}

.rdp-button:hover {
  background-color: #bef26466 !important;
}

.inputHours{
  textAlign: 'center';
  background-color: "transparent";
  border: "transparent";
  resize: "none";
  outline: "none";
}