@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    
  --primary-bg: rgb(190, 242, 100);
  --primary-text: rgb(59, 59, 59);
  --primary-hover-bg: rgb(160, 202, 87);

  --secondary-bg: rgb(59, 59, 59);
  --secondary-text: rgb(224, 224, 224);
  --secondary-hover-bg: rgb(90, 90, 90);

  --tertiary-bg: rgb(59, 59, 59, 0);
  --tertiary-text: rgb(224, 224, 224);
  --tertiary-hover-bg: rgb(66, 66, 66);
}

* {
  min-width: 0;
}

input {
  color-scheme: dark;
}
/* Estilos do react-day-picker */
.rdp-day_selected {
  background-color: var(--primary-bg) !important;
  color: var(--primary-text) !important;
}

.rdp-day_selected:hover {
  background-color: var(--primary-hover-bg) !important;
}

.rdp-button:hover {
  background-color: var(--primary-hover-bg) !important;
}
/* Estilo de entrada de dados */
/*Horas*/
.inputHours {
  text-align: center !important;
  background-color: transparent !important;
  border: transparent !important;
  resize: none !important;
  outline: none !important;
}

/* Estilos dos botões */
.button-primary {
  background-color: var(--primary-bg);
  color: var(--primary-text);
}

.button-primary:hover {
  background-color: var(--primary-hover-bg);
}

.button-secondary {
  background-color: var(--secondary-bg);
  color: var(--secondary-text);
}

.button-secondary:hover {
  background-color: var(--secondary-hover-bg);
}
.button-Tertiary {
  background-color: var(--tertiary-bg);
  color: var(--tertiary-text);
  border: 1px solid var(--tertiary-text) !important; 
}
.button-Tertiary:hover {
  background-color: var(--tertiary-hover-bg);
}

.button-primary-disabled {
  background-color: var(--primary-hover-bg);
  color: var(--primary-text);
}
.button-secondary-disabled {
  background-color: var(--secondary-bg);
  color: var(--secondary-text);
}